@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
}

/* ANIMATION TEXT */
.hideText {
  opacity: 0;
  filter: blur(15px);
  transform: translateY(250px);
  transition: all 1s;
}

.showText {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: all 1s;
}